* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: #dcebf2;
    background: linear-gradient(90deg, rgba(220, 235, 242, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

html, body {
  height: 100%;
  margin: 0;
}

footer {
  text-align: center;
  padding: 10px;
  background: #0a0a0a;
  color: #ffffff;
  font-size: 27px;
}


.content {
    padding-top:35px;
    padding-bottom: 15px;
    justify-content: center;

}

label {
    font-size: 38px;
    padding: 10px;
}

.button {
    justify-content: center;
}
button {
    width: 100px;
    text-align: center;
}

#input {
        width: 360px;     
        height: 50px;     
        font-size: 20px;  
        padding: 10px;    
        border-radius: 10px;
}

#result {
    font-size: 48px;
    padding-top: 18px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

@media (max-width : 540px) {
  #input {
    width: 280px;
    height: 38px;
    font-size: 15px;  
    padding: 7px;    
    border-radius: 10px;
  }

  label {
    font-size: 26px;
    padding: 7px;
}

#result {
    font-size: 32px;
    padding-top: 18px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

footer {
    font-size: 20px;
    padding: 5px;
}

button {
  width: 75px;
}

div .container-fluid a {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
}


}

@media (max-width : 400px) {
  #input {
    width: 230px;
    height: 30px;
    font-size: 12px;  
    padding: 5px;    
    border-radius: 10px;
  }

  label {
    font-size: 23px;
    padding: 5px;
}

#result {
    font-size: 26px;
    padding-top: 15px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

footer {
    font-size: 16px;
    padding: 5px;
}

button {
  width: 70px;
}
div .container-fluid a {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
}


}